name: cool_project
description: A basic Flutter app with welcome and chat pages
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  image_picker: ^1.0.7
  flutter_blue_plus: ^1.32.7
  flutter_blue_plus_windows: 1.26.0
  flutter_ble_peripheral: ^2.0.0
  permission_handler: ^11.3.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true

